.row {
  display: flex;
}

.column {
  width: 500px;
}

* {
  box-sizing: border-box;
}
​
/* Create four equal columns that floats next to each other */
.column {
  float: 1;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
​
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
